body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #154360;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    diaplay: block;
    color: #EDFAFF;
    text-align: center;
    padding: 14px 16px;
    font-family: "Changa One", sans-serif;
}

li a:hover:not(.active) {
    background-color: #013549;
}

.active {
    background-color: #629FB6;
}
